.banner_container {
  width: 100%;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: flex-end !important;
}

.banner_content_container {
  height: max-content;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img {
  margin-bottom: 220%;
}

.zeus_container {
  height: 100%;
  width: 45%;
}

.zeus {
  height: 100%;
  width: 100%;
}

.poseidon_container {
  height: 100%;
  width: 45%;
}

.poseidon {
  height: 100%;
  width: 100%;
}

.logo_counter_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  overflow: visible;
}

.logo_banner_container img {
  width: 200% !important;
}

.logo_banner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 50%;
}

.mat-grid-tile {
  width: 100%;
}

.mat-grid-tile-content {
  width: 100%;
}

.banner {
  height: max-content;
  margin-top: 100px;
  width: 100%;
  z-index: -10;
}

.row {
  position: absolute;
  z-index: 50;
}

.timeCounter {
  width: 100% !important;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
}

@media (max-width: 1200px) {
  .banner {
    width: 100% !important;
    left: -67px;
  }

  .banner_container .banner {
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  .banner {
    width: 150% !important;
  }

  .zeus {
    width: 150% !important;
  }

  .zeus_container {
    width: 80%;
    float: none;
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
  }

  .poseidon_container {
    width: 80%;
    overflow: hidden;
  }

  .poseidon {
    width: 150% !important;
  }

  .logo_img {
    margin-bottom: 300%;
  }
  
.logo_banner_container img {
  width: 280% !important;
}
}
